<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @ingredient.name %>
</p>

<p>
  <b>Description:</b>
  <%= @ingredient.description %>
</p>

<p>
  <b>Brand:</b>
  <%= @ingredient.brand %>
</p>

<p>
  <b>Category:</b>
  <%= @ingredient.category_id %>
</p>

<p>
  <b>Protein:</b>
  <%= @ingredient.protein %>
</p>

<p>
  <b>Carbs:</b>
  <%= @ingredient.carbs %>
</p>

<p>
  <b>Fat:</b>
  <%= @ingredient.fat %>
</p>


<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |
<%= link_to 'Back', ingredients_path %>
